#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // 600 is default
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // 10 is default

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        mt_tap: mod_tap_tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_TAP_PREFERRED";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        mt_rep: mod_tap_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_REPEAT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        shft_l: shift_left {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };

        shft_r: shift_right {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        lt_fast: layer_tap_fast {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_FAST";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
    };
    combos {
        compatible = "zmk,combos";

        // M + COMMA = SPACE
        combo_space {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp SPACE>;
        };

        // Hold both left thumbs to access Settings Layer (Layer 4)
        combo_settings {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&mo 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base
        default_layer {
            bindings = <
            &mt_tap LALT Q &kp W      &kp E      &kp R       &kp T          &kp Y       &kp U       &kp I       &kp O      &kp P
            &kp A       &kp S      &kp D      &kp F       &kp G          &kp H       &kp J       &kp K       &kp L      &kp SEMI
            &shft_l LSHFT Z &kp X      &kp C      &kp V       &kp B          &kp N       &kp M       &kp COMMA   &kp DOT    &shft_r RSHFT FSLH
                                              &lt 1 ESC   &mt_rep LGUI SPACE &lt_fast 3 RET   &mt_rep LCTRL BSPC
            >;
        };

        // Layer 1: Nav & Mouse
        nav_layer {
            bindings = <
            &kp LA(Q)  &kp LA(N8)      &kp LA(N7) &kp LA(N6)  &kp LA(N9)      &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &kp LA(BSPC)
            &kp LA(N4) &mt LALT LA(N3) &kp LA(N2) &kp LA(N1)  &kp LA(N5)      &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT       &kp LA(RET)
            &kp LSHFT  &kp LALT        &mt_tap LCTRL LA(D)  &msc SCRL_DOWN &msc SCRL_UP       &mkp MB1       &mkp MB2       &kp LA(LS(SPACE)) &kp LC(LS(LALT))  &kp LA(SPACE)
                                                  &trans      &trans          &kp TAB        &mo 2
            >;
        };

        // Layer 2: Numpad & Media & Function
        num_layer {
            bindings = <
            &kp C_BRI_DN      &kp C_BRI_UP      &kp F3   &kp F4   &kp F5         &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp F11  &kp F12
            &kp N1            &kp N2            &kp N3   &kp N4   &kp N5         &kp N6     &kp N7       &kp N8       &kp N9   &kp N0
            &kp LC(LS(EQUAL)) &kp LC(LS(MINUS)) &kp C_PP &kp C_PREV &kp C_NEXT       &kp LG(LS(J))  &kp BSPC     &kp COMMA    &trans   &kp LC(LS(LG(N4)))
                                                         &trans   &trans         &trans     &trans
            >;
        };

        // Layer 3: Symbols
        sym_layer {
            bindings = <
            &kp GRAVE &kp LT          &kp GT          &kp SQT      &kp DOT       &kp AMPS  &kp UNDER &kp LBRC &kp RBRC &kp PRCNT
            &kp DQT   &kp KP_SUBTRACT &kp KP_PLUS     &kp KP_EQUAL &kp HASH      &kp PIPE  &kp COLON &kp LPAR &kp RPAR &kp QMARK
            &kp EXCL  &kp KP_DIVIDE   &kp KP_MULTIPLY &kp BSLH     &kp COMMA     &kp TILDE &kp DLLR  &kp LBKT &kp RBKT &kp AT
                                                      &trans       &kp SPACE     &trans    &trans
            >;
        };

        // Layer 4: Settings (Bluetooth & Bootloader)
        settings_layer {
            bindings = <
            &trans       &studio_unlock &trans       &bt BT_CLR   &bt BT_SEL 0       &bt BT_SEL 3   &trans       &trans       &trans       &trans
            &bootloader  &trans       &trans       &trans       &bt BT_SEL 1       &bt BT_SEL 4   &trans       &trans       &trans       &bootloader
            &trans       &trans       &trans       &trans       &bt BT_SEL 2       &bt BT_SEL 5   &trans       &trans       &trans       &trans
                                                   &trans       &trans             &trans         &trans
            >;
        };
    };
};

// Custom Mouse Move configuration
&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
};
